@charset "UTF-8";
body{
    background-color: rgba(172, 255, 47, 0.432);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h1{
    color:rgba(25, 190, 39, 0.432) ;

}

h1#Principal{
    text-align: center;
    background-color: green;
    color: white;
}

h2{
    color:rgba(25, 190, 149, 0.432) ;

}

.basico{
    color: green;
}

.intermediario{
    color: yellowgreen;
}

.avancado{
    color: rgb(205, 120, 50);
}
.destaque{
    
    background-color: rgba(235, 144, 144, 0.356) ;
}